/* Import the Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Apply the font to the body and all text elements */
body, h1, h2, h3, h4, h5, h6, p, a, span, div, input, button, label, table, th, td {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
}

h1.title {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

/* Margin between sections */
.playlist-list {
    margin-bottom: 20px;
}

/* Padding for profile content */
.profile-content {
    padding-bottom: 100px;
}

/* Navbar styles */
.navbar .d-flex.align-items-center {
    display: flex;
    align-items: center;
}

/* Circular image styles */
.circular-img {
    width: 200px; /* or any desired width */
    height: 200px; /* or any desired height */
    border-radius: 50%;
    object-fit: cover; /* This ensures the image covers the circle area */
}

.circular-img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* This ensures the image covers the circle area */
}

/* CSS to prevent wrapping */
.th-no-wrap,
.td-no-wrap {
    white-space: nowrap;
}

/* Gradient background animation */
html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0a0a23, #121212); /* Gradient colors */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    50% {
        background-position: 100% 50%; /* Middle position */
    }
    100% {
        background-position: 0% 50%; /* End position */
    }
}

/* Container styles */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  /* Base color for glossy effect */
  background-color: rgba(102, 126, 172, 1);
  border-radius: 8px;
  /* Glossy effect */
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4),
              2px -2px 5px rgba(255, 255, 255, 0.7),
              5px 5px 15px rgba(0, 0, 0, 0.2); /* Added external shadow for 3D effect */
  /* Subtle gradient overlay */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(102, 126, 172, 0.95) 50%, rgba(102, 126, 172, 1) 100%);
  /* Inner shadow for border */
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
  pointer-events: none; /* Allow clicks to pass through */
}

.container:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  filter: blur(20px); /* Blurred shine effect */
  pointer-events: none;
  z-index: -1;
}

.playlist-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(102, 126, 172, 1);
    border-radius: 8px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.4),
                2px -2px 5px rgba(255, 255, 255, 0.7),
                5px 5px 15px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(102, 126, 172, 0.95) 50%, rgba(102, 126, 172, 1) 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.table {
    width: auto;
    table-layout: auto; /* Allow the table to adjust based on content */
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center; /* Center align content */
    padding: 8px;
}

.table th {
    background-color: #343a40;
    color: white;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.09);
}

@media (min-width: 768px) {
    .table {
        width: 100%; /* Expand table to full width on larger screens */
        table-layout: fixed; /* Fix table layout for consistent column widths */
    }
}


/* Terms container styles */
.terms-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(127, 158, 214, 0.25);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}

.terms-container h2 {
    font-size: 28px; /* adjusting heading size */
    color: white;
    margin-bottom: 10px;
}

.terms-container h3 {
    font-size: 20px;
    color: grey;
    margin-top: 20px; /* Space above h3 */
}

.terms-container p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

/* Navbar brand and nav link styles */
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #ffffff; /* primary colour */
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-link:hover {
    color: #86c5d1; /* secondary */
}

.logout-container {
    margin-left: 15px;
}

/* Form container styles */
.form-container {
    color: #000000;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-container p {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    font-weight: 600;
    margin-top: 20px;
}

.form-container .form-control {
    border-radius: 8px;
}

.form-container .form-group {
    margin-bottom: 20px;
}

.form-container .btn {
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
}

.form-container .btn-primary {
    background-color: #7354e0;
    border: none;
    transition: background-color 0.3s ease;
}

.form-container .btn-primary:hover {
    background-color: #86c5d1;
}

.form-container .btn-secondary {
    background-color: #6c757d;
    border: none;
    transition: background-color 0.3s ease;
}

.form-container .btn-secondary:hover {
    background-color: #5a6268;
}

/* Search submit button styles */
.search-submit.btn {
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 10px;
}

.search-submit.btn-primary {
    background-color: #7354e0;
    border: none;
    transition: background-color 0.3s ease;
}

.search-submit.btn-primary:hover {
    background-color: #86c5d1;
}

.search.form-control {
    border-radius: 8px;
    max-width: 200px; /* Adjusted for a smaller search bar */
    margin-left: 0; /* Align to the left */
    margin-right: 10px; /* Optional: Add some space between the search bar and the button */
}

.search.label {
    font-weight: 600;
}

/* Login submit button styles */
.login-submit.btn {
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 20px;
    margin-top: 20px;
}

.login-submit.btn-primary {
    background-color: #7354e0;
    border: none;
    transition: background-color 0.3s ease;
}

.login-submit.btn-primary:hover {
    background-color: #86c5d1;
}

.center-container {
    justify-content: center;
    align-items: center;
}

/* Table styles */
.table {
    margin-top: 20px;
}

.table thead {
    background-color: #343a40;
    color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
    padding: 8px;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.table.btn {
    font-weight: 600;
    border-radius: 8px;
    padding:

.circular-img-icon {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the circle area */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

.card {
    background: none; /* Remove default background */
    border: none; /* Remove default border */
    box-shadow: none; /* Remove any box shadow */
}

/* Target a tags within the table */
.table a {
    color: black; /* Set link color to black */
}

/* Optional: Override default hover color if needed */
.table a:hover {
    color: black; /* Set hover link color to black */
}

/* Custom styles for friend buttons */
.add-remove-friend {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-remove-friend form {
    display: inline-block;
    margin: 5px;
}

.add-remove-friend .btn {
    padding: 10px 20px;
    font-size: 16px;
}

/* adjust spacing between buttons in "Received" state */
.add-remove-friend .d-flex .mr-2 {
    margin-right: 10px;
}

footer .logout-container p {
    color: white;
}




