<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>ToonTogether</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

<!-- Gradient background element -->
<div class="gradient-bg"></div>

<div th:replace="layout :: header"></div>

<div class="container mt-4 profile-content">
    <div class="text-center mb-4">
        <h1>Welcome</h1>
    </div>

    <div th:if="${loginMessage}" class="alert alert-success text-center" th:text="${loginMessage}"></div>

    <div th:if="${errorMessage}" class="alert alert-danger">
        <p th:text="${errorMessage}"></p>
    </div>
    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>

    <div class="row">
        <div class="form col-12">

            <form action="#" th:action="@{/playlists}" th:object="${playlist}" method="post" class="mb-4">
                <div class="form-container">
                    <p>Create a playlist</p>
                    <label for="playlist-name">Name:</label>
                    <input id="playlist-name" type="text" th:field="*{name}" class="form-control" placeholder="My favourite songs" required minlength="1"/>
                </div>
                <div class="form-container text-center">
                    <input id="playlist-name-submit" type="submit" value="Submit" class="btn btn-primary"/>
                    <input type="reset" value="Reset" class="btn btn-secondary"/>
                </div>
            </form>

            <form th:action="@{/playlists}" method="get">
                <p class="search label">Search playlists: <input type="text" class="search form-control" name="search"/></p>
                <p>
                    <input class="search-submit btn btn-primary" type="submit" value="Search"/>
                    <a th:if="${searchQuery != null and !searchQuery.isEmpty()}" th:href="@{/playlists}">Reset</a>
                </p>
            </form>

            <div th:if="${searchQuery != null}">
                <p>Showing playlists for: <strong th:text="${searchQuery}"></strong></p>

            </div>

            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr>
                    <th class="th-no-wrap">Playlist</th>
                    <th class="th-no-wrap">Created by</th>
                    <th class="th-no-wrap">Date added</th>
                    <th>Favourite</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="playlist: ${playlists}">
                    <td class="td-no-wrap" th:text="${playlist.name}"></td>
                    <td class="td-no-wrap"> <img th:src="@{${playlist.owner.profilePicture}}" class="circular-img-icon" alt="user-profile-picture" />
                        <a th:if="${playlist.owner.username == currentUser.username}"
                           th:href="@{/myprofile}"
                           th:text="${playlist.owner.username}"></a>
                        <a th:unless="${playlist.owner.username == currentUser.username}"
                           th:href="@{/users/{username}(username=${playlist.owner.username})}"
                           th:text="${playlist.owner.username}"></a></td>
                    <td class="td-no-wrap" th:text="${#dates.format(playlist.createdAt, 'dd MMM yyyy HH:mm:ss')}"></td>
                    <td>
                        <form th:id="'favourite-form-' + ${playlist.id}" th:action="@{/playlist/favourite(id=${playlist.id})}" th:method="post">
                            <button type="submit"
                                    class="btn btn-secondary btn-sm"
                                    th:text="${playlist.containsUser(#authentication.getPrincipal().getUsername()) ? 'Unfavourite' : 'Favourite'}">
                            </button>
                        </form>
                    </td>
                    <td>
                        <form th:id="'delete-form-' + ${playlist.id}"
                              th:action="@{/playlists(id=${playlist.id})}"
                              th:method="delete"
                              th:if="${playlist.owner.id} == ${currentUser.id}"
                              onsubmit="return confirmDelete()">
                            <input type="hidden" name="_method" value="delete">
                            <button type="submit" class="btn btn-secondary btn-sm">Delete</button>
                        </form>
                    </td>
                    <td>
                        <div th:if="${playlist.owner.id == currentUser.id}">
                            <button type="button" class="btn btn-success btn-sm" onclick="showAddCollaboratorModal('${playlist.id}')">Add Collaborator</button>
                        </div>
                    </td>
                    <div class="modal fade" id="addCollaboratorModal" tabindex="-1" role="dialog" aria-labelledby="addCollaboratorModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addCollaboratorModalLabel">Add Collaborator</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>

                                    </button>
                                </div>
                                <form id="addCollaboratorForm" th:action="@{/addCollaborator}" method="post">
                                    <div class="modal-body">
                                        <!-- Hidden input to store playlistId -->
                                        <input type="hidden" id="playlistId" name="playlistId" th:value="${playlist.id}" />
                                        <div class="form-group">
                                            <label for="collaboratorUsername">Collaborator Username:</label>
                                            <input type="text" class="form-control" id="collaboratorUsername" name="collaboratorUsername" required />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>

            <!-- Pagination controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                        <a class="page-link" th:href="@{/playlists(page=${currentPage - 1}, size=${10})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}" th:classappend="${i == currentPage} ? 'active'">
                        <a class="page-link" th:href="@{/playlists(page=${i}, size=${10})}" th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                        <a class="page-link" th:href="@{/playlists(page=${currentPage + 1}, size=${10})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="layout :: footer"></div>

    <!-- Playlist deletion confirmation message -->
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this playlist?");
        }

        function showAddCollaboratorModal(playlistId) {
        $('#modalPlaylistId').val(playlistId);
        $('#addCollaboratorModal').modal('show');
    }
    </script>
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</div></body>
</html>
