<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>ToonTogether</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    <div th:replace="layout :: header"></div>

    <h1>Welcome</h1>

    <div sec:authorize="isAuthenticated()">
        Hello <span sec:authentication="name"></span>
    </div>

    <form action="#" th:action="@{/playlists}" th:object="${playlist}" method="post">
        <p>Name: <input id="playlist-name" type="text" th:field="*{name}" /></p>
        <p><input id="playlist-name-submit" type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <ul class="playlists" th:each="playlist: ${playlists}">
        <li th:text="${playlist.name}" />
        <form th:action="@{/playlists(id=${playlist.id})}" th:method="delete">
            <button type="submit">Delete</button>
        </form>
    </ul>

    <div th:replace="layout :: footer"></div>
    </body>
</html>
