<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>User Profile</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<!-- Gradient background element -->
<div class="gradient-bg"></div>
<div th:replace="layout :: header"></div>

<div class="text-center my-4">
    <img th:src="@{${profileUser.profilePicture}}" alt="profile-picture" width="200" height="200" class="rounded-circle"/>
    <h1><span th:text="${profileUser.username}"></span>'s Profile</h1>
</div>

<div th:switch="${profileUser.friend_status}" class="add-remove-friend text-center my-4">
    <form th:case="'Friend'" th:action="@{/friends/delete}" method="post">
        <input type="hidden" name="recipient_username" th:value="${profileUser.username}">
        <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
        <button type="submit" class="btn btn-danger">Remove Friend</button>
    </form>
    <form th:case="'Sent'" th:action="@{/friends/delete}" method="post">
        <input type="hidden" name="recipient_username" th:value="${profileUser.username}">
        <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
        <button type="submit" class="btn btn-outline-danger">Cancel Friend Request</button>
    </form>
    <div th:case="'Received'">
        <form th:action="@{/friends/confirm}" method="post">
            <input type="hidden" name="recipient_username" th:value="${profileUser.username}">
            <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
            <button type="submit" class="btn btn-primary">Confirm Friend Request</button>
        </form>
        <form th:action="@{/friends/delete}" method="post">
            <input type="hidden" name="recipient_username" th:value="${profileUser.username}">
            <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
            <button type="submit" class="btn btn-outline-danger">Deny Friend Request</button>
        </form>
    </div>

    <form th:case="'None'" th:action="@{/friends/add}" method="post">
        <input type="hidden" name="recipient_username" th:value="${profileUser.username}">
        <input type="hidden" name="returnURL" th:value="${#httpServletRequest.requestURI}">
        <button type="submit" class="btn btn-primary">Add Friend</button>
    </form>
    <p th:case="*">
        You cannot be friends with this user
    </p>
</div>

<div class="container">
    <div class="row">
        <!-- User's playlists -->
        <div class="col-md-6">

                <h3>Playlists:</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="th-no-wrap">Playlist</th>
                        <th class="th-no-wrap">Created by</th>
                        <th class="th-no-wrap">Date added</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="playlist: ${playlists}">
                        <td class="td-no-wrap" th:text="${playlist.name}"></td>
                        <td class="td-no-wrap">
                               <span th:text="${profileUser.username}"></span>
                        </td>
                        <td class="td-no-wrap" th:text="${#dates.format(playlist.createdAt, 'dd MMM yyyy HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
<!--                <ul th:each="playlist : ${playlists}">-->
<!--                    <li th:text="${playlist.name}"></li>-->
<!--                </ul>-->
        </div>
    </div>
</div>
<div th:replace="layout :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
